:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-header,
app-footer {
  flex-shrink: 0;
}

.content-fill {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
