<mat-card class="mt-4">
  <h2>Communication from other apps</h2>
  <mat-divider class="mt-4 mb-4 pos-rel"></mat-divider>
  <h4 class="no-spacing">
    Messagees sent via
    <span class="font-weight-heavy">{{commTypeLabelsMap[commType]}}</span>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Change communication type"
      (click)="onGoToMenuItem(MenuName.CommunicationType)">
      <mat-icon class="md-20">{{IconMat.Edit}}</mat-icon>
    </button>
  </h4>
  <div class="mt-4 mb-4">
    <div *ngIf="appMessage; else noMessages">
      <div>
        <span class="font-weight-heavy">From:</span>
        {{appMessage.fromApp}} App
      </div>
      <div>
        <span class="font-weight-heavy">Message:</span>
        {{appMessage.message}}
      </div>
    </div>
  </div>
</mat-card>

<ng-template #noMessages>
  <span class="color-grey-600">
    <i>
      Waiting for messages to be sent from other apps...
    </i>
  </span>
</ng-template>
