// Colors.

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-app-dark {
  color: $color-app-dark;
}

.color-app-light {
  color: $color-app-light;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-red {
  color: $color-red;
}
