@import 'variables';

// Content spacers.

.page-content-padding {
  padding: 2rem 1.25rem;
}

.page-section-padding {
  padding: 1rem 0;
}

// Common elements.

.app-loading {
  padding: 0.5rem;
  margin: 5% auto;
}
