// From base path defined in workspace (stylePreprocessorOptions:includePaths)
@import 'ui-colors/index';
@import 'ui-mixins/clients';
@import 'ui-variables/typography';
@import 'ui-variables/clients';

.shell-container {
  position: relative;
  min-height: 100%;

  & > .heading {
    text-align: center;
    padding: 1rem;
    font-size: 24px;
    color: $color-grey-800;
    background-color: $color-white;
  }

  & .shell-menu {
    text-align: center;
    padding: 1rem;
    background-color: $color-grey-50;
    border-bottom: 1px solid $color-grey-400;
    border-top: 1px solid $color-grey-400;

    button {
      font-size: 12px;
      font-weight: $font-weight-med;
      color: $color-grey-500;

      &:hover, &.is-active {
        color: $color-grey-900;
      }
    }
  }
}

.client-container {
  @include client-container();
}

.client-app-root {
  @include client-app-root();

  &.is-active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
}
