// From base path defined in workspace (stylePreprocessorOptions:includePaths)
@import 'ui-colors/index';

.main-panel {
  background-color: #ccc;
  position: relative;
  min-height: 100%;

  & > .heading {
    padding: 1rem;
    font-size: 30px;
    color: $color-primary;
  }

  & > .navbar {
    padding: 1rem;
    border-bottom: 1px solid $color-grey-500;
    border-top: 1px solid $color-grey-500;
  }

  & > .content {
    padding: 30px 15px;
    min-height: calc(100% - 100px);
  }
}

.framework-logo {
  height: 160px;
  margin: 30px;
}
