// From base path defined in workspace (stylePreprocessorOptions:includePaths)
@import 'ui-mixins/clients';
@import 'ui-variables/clients';

:host {
  @include client-app-root();
}

.app-content {
  padding: $client-app-pad;
}
