<mat-card
  fxLayout="column"
  fxLayoutAlign="center center">

  <img
    src="/assets/images/ng.svg"
    alt="Angular Logo"
    class="framework-logo">

  <nav
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <button
      *ngFor="let item of menuItems"
      mat-raised-button
      color="primary"
      (click)="onItemClick(item)">
      <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>
  </nav>
</mat-card>

<mat-divider></mat-divider>
