@import '../styles/variables';

.main-panel {
  background-color: #ccc;
  position: relative;
  width: calc(100% - 200px);
  min-height: 100%;

  & > .content {
    padding: 30px 15px;
    min-height: calc(100% - 100px);
    border: 1px solid grey;
  }

  & .heading {
    font-size: 30px;
    color: $color-app-dark;
  }
}
