<mat-card class="mt-4">
  <h2>Communication to other apps</h2>
  <mat-divider class="mt-4 mb-4 pos-rel"></mat-divider>
  <h4 class="no-spacing">
    Update other app details via
    <span class="font-weight-heavy">{{commTypeLabelsMap[commType]}}</span>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Change communication type"
      (click)="onGoToMenuItem(MenuName.CommunicationType)">
      <mat-icon class="md-20">{{IconMat.Edit}}</mat-icon>
    </button>
  </h4>
  <div class="d-flex w-100">
    <mat-form-field class="w-33">
      <input
        matInput
        type="text"
        id="app-name-from-orange"
        [formControl]="appName"
        placeholder="App Name">
    </mat-form-field>
    <mat-form-field class="ml-4 w-33">
      <input
        matInput
        type="text"
        id="app-desc-from-orange"
        [formControl]="appDescription"
        placeholder="App Description">
    </mat-form-field>
    <div class="d-flex j-e a-i-c w-33">
      <button
        mat-flat-button
        color="primary"
        [disabled]="!appName.value && !appDescription.value"
        (click)="onSendToApp(ClientApp.Red)">
        <mat-icon class="mr-2">{{ IconMat.ArrowDown }}</mat-icon>
        <span>To Red App</span>
      </button>
      <button
        class="ml-4"
        mat-flat-button
        color="primary"
        [disabled]="!appName.value && !appDescription.value"
        (click)="onSendToApp(ClientApp.Blue)">
        <mat-icon class="mr-2">{{ IconMat.ArrowDown }}</mat-icon>
        <span>To Blue App</span>
      </button>
    </div>
  </div>
</mat-card>
